{
  "overrides": [
    {
      "files": ["*.css", "*.html"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "trailingComma": "es5"
      }
    },
    {
      "files": ["*.js", "*.mjs"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
