/* https://fluid.style/ */

.text {
  --font-size: 1.125rem; /* 18px */
  --line-height: var(--font-line-height-xl);

  font-size: var(--font-size);
  line-height: var(--line-height);
  text-wrap: pretty;
}

.text--hero {
  --font-size: clamp(1.875rem, -1.25rem + 7.813vw, 3.75rem); /* 30px - 60px */
  --line-height: var(--font-line-height-sm);
}

.text--lg {
  --font-size: clamp(1.5rem, -0.5833125rem + 5.208vw, 2.75rem); /* 24px - 44px */
  --line-height: var(--font-line-height-sm);
}
