:root {
  --font-family: "Urbanist", Arial, sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-line-height-none: 1;
  --font-line-height-xs: 1.1;
  --font-line-height-sm: 1.2;
  --font-line-height-md: 1.3;
  --font-line-height-lg: 1.4;
  --font-line-height-xl: 1.5;
  --font-line-height-2xl: 1.6;
}
